#LB1 project
This notebook will be used to test different parsing strategies for the pdb advanced search report.

In [1]:
import pandas as pd

In [2]:
from google.colab import files
uploaded = files.upload()

Saving rcsb_pdb_custom_report_20220412080009.csv to rcsb_pdb_custom_report_20220412080009 (1).csv

In [41]:
rcsb = pd.read_csv('rcsb_pdb_custom_report_20220412080009.csv')

In [42]:
rcsb

,Entry ID,PDB ID,Auth Asym ID,Entry Id (Polymer Entity Identifiers),Unnamed: 4
0,1AAL,1AAL,"A, B",1AAL,NaN
1,1AAP,1AAP,"A, B",1AAP,NaN
2,1BPI,1BPI,A,1BPI,NaN
3,1BPT,1BPT,A,1BPT,NaN
4,1BRB,1BRB,E,1BRB,NaN
...,...,...,...,...,...
202,6Q61,6Q61,A,6Q61,NaN
203,6YHY,6YHY,"A, B",6YHY,NaN
204,7PTI,7PTI,A,7PTI,NaN
205,8PTI,8PTI,A,8PTI,NaN
206,9PTI,9PTI,A,9PTI,NaN

In [43]:
rcsb2 = rcsb.iloc[:,0:4]

In [44]:
rcsb2

    Entry ID PDB ID Auth Asym ID Entry Id (Polymer Entity Identifiers)
0       1AAL   1AAL         A, B                                  1AAL
1       1AAP   1AAP         A, B                                  1AAP
2       1BPI   1BPI            A                                  1BPI
3       1BPT   1BPT            A                                  1BPT
4       1BRB   1BRB            E                                  1BRB
..       ...    ...          ...                                   ...
202     6Q61   6Q61            A                                  6Q61
203     6YHY   6YHY         A, B                                  6YHY
204     7PTI   7PTI            A                                  7PTI
205     8PTI   8PTI            A                                  8PTI
206     9PTI   9PTI            A                                  9PTI

[207 rows x 4 columns]

In [45]:
rcsb2.shape

(207, 4)

In [46]:
entry_proteins = rcsb2['Entry ID'].unique()
pol_proteins = rcsb2['Entry Id (Polymer Entity Identifiers)'].unique()

In [47]:
entry_proteins

array(['1AAL', '1AAP', '1BPI', '1BPT', '1BRB', nan, '1BTH', '1BTI',
       '1BZX', '1CA0', '1CO7', '1D0D', '1DTX', '1EJM', '1F5R', '1F7Z',
       '1FAK', '1FAN', '1FY8', '1KNT', '1KTH', '1NAG', '1P2I', '1P2J',
       '1P2K', '1P2M', '1P2N', '1P2O', '1P2Q', '1T7C', '1T8L', '1T8M',
       '1T8N', '1T8O', '1TAW', '1TPA', '1YKT', '1ZR0', '2FI3', '2FTL',
       '2HEX', '2IJO', '2KNT', '2PTC', '2R9P', '2RA3', '2TGP', '2TPI',
       '3BTD', '3BTE', '3BTF', '3BTG', '3BTH', '3BTK', '3BTM', '3BTQ',
       '3BTT', '3BTW', '3BYB', '3D65', '3FP6', '3FP7', '3FP8', '3LDI',
       '3LDJ', '3M7Q', '3OTJ', '3T62', '3TGI', '3TGJ', '3TGK', '3TPI',
       '3U1J', '3UOU', '3WNY', '4BD9', '4BNR', '4DG4', '4DTG', '4ISL',
       '4ISO', '4NTW', '4NTX', '4PTI', '4TPI', '4U30', '4U32', '4WWY',
       '4WXV', '4Y0Y', '4Y0Z', '4Y10', '4Y11', '5EZD', '5JBT', '5M4V',
       '5NMV', '5NX1', '5NX3', '5PTI', '5ZJ3', '6F1F', '6GFI', '6HAR',
       '6PTI', '6Q61', '6YHY', '7PTI', '8PTI', '9PTI'], dtype=object)

In [48]:
pol_proteins

array(['1AAL', '1AAP', '1BPI', '1BPT', '1BRB', '1BTH', '1BTI', '1BZX',
       '1CA0', '1CO7', '1D0D', '1DTX', '1EJM', '1F5R', '1F7Z', '1FAK',
       '1FAN', '1FY8', '1KNT', '1KTH', '1NAG', '1P2I', '1P2J', '1P2K',
       '1P2M', '1P2N', '1P2O', '1P2Q', '1T7C', '1T8L', '1T8M', '1T8N',
       '1T8O', '1TAW', '1TPA', '1YKT', '1ZR0', '2FI3', '2FTL', '2HEX',
       '2IJO', '2KNT', '2PTC', '2R9P', '2RA3', '2TGP', '2TPI', '3BTD',
       '3BTE', '3BTF', '3BTG', '3BTH', '3BTK', '3BTM', '3BTQ', '3BTT',
       '3BTW', '3BYB', '3D65', '3FP6', '3FP7', '3FP8', '3LDI', '3LDJ',
       '3M7Q', '3OTJ', '3T62', '3TGI', '3TGJ', '3TGK', '3TPI', '3U1J',
       '3UOU', '3WNY', '4BD9', '4BNR', '4DG4', '4DTG', '4ISL', '4ISO',
       '4NTW', '4NTX', '4PTI', '4TPI', '4U30', '4U32', '4WWY', '4WXV',
       '4Y0Y', '4Y0Z', '4Y10', '4Y11', '5EZD', '5JBT', '5M4V', '5NMV',
       '5NX1', '5NX3', '5PTI', '5ZJ3', '6F1F', '6GFI', '6HAR', '6PTI',
       '6Q61', '6YHY', '7PTI', '8PTI', '9PTI'], dtype=object)

In [49]:
print(len(entry_proteins), len(pol_proteins))  #apparently the columns don't have the same amount of unique values

110 109

In [50]:
rcsb2.isnull().sum()

Entry ID                                 98
PDB ID                                   98
Auth Asym ID                              0
Entry Id (Polymer Entity Identifiers)     0
dtype: int64

It appears that only the first 2 columns have null values, as expected.

Now, we need we need to find which is the unique value present in the first column that is missing in the 4th.

In [51]:
rcsb2.dropna().query('`Entry ID` != `Entry Id (Polymer Entity Identifiers)`')

Empty DataFrame
Columns: [Entry ID, PDB ID, Auth Asym ID, Entry Id (Polymer Entity Identifiers)]
Index: []

Ok, so apparently there is no "unique value present in the first column that is missing in the 4th". By visual inspection, that missing value is the null value nan, which of course is not present in the 4th column.

In [52]:
rcsb2.dropna().shape  #This should be the same amount as len(rcsb2['Entry Id (Polymer Entity Identifiers)'].unique()) after using pd.explosion()

(109, 4)

In [53]:
rcsb2 = rcsb2.iloc[:,[2,3]]

In [54]:
rcsb2

    Auth Asym ID Entry Id (Polymer Entity Identifiers)
0           A, B                                  1AAL
1           A, B                                  1AAP
2              A                                  1BPI
3              A                                  1BPT
4              E                                  1BRB
..           ...                                   ...
202            A                                  6Q61
203         A, B                                  6YHY
204            A                                  7PTI
205            A                                  8PTI
206            A                                  9PTI

[207 rows x 2 columns]

### Part2
Trying different methods to parse the Auth Asym ID column.

In [55]:
lst_col = 'Auth Asym ID'
rcsb2[lst_col].str.split(',')  #allows us to convert the cells with comma separated values into lists for this particular column. Returns a pandas series

0      [A,  B]
1      [A,  B]
2          [A]
3          [A]
4          [E]
        ...
202        [A]
203    [A,  B]
204        [A]
205        [A]
206        [A]
Name: Auth Asym ID, Length: 207, dtype: object

In [56]:

d = {lst_col:rcsb2[lst_col].str.split(',')}  #can be saved in a dictionary for pd.assign()

In [57]:
rcsb2 = rcsb2.assign(**d) #changes the column
#rcsb2 = rcsb2.assign(lst_col = rcsb2[lst_col].str.split(',')) #instead adds an extra column

In [58]:
rcsb2

    Auth Asym ID Entry Id (Polymer Entity Identifiers)
0        [A,  B]                                  1AAL
1        [A,  B]                                  1AAP
2            [A]                                  1BPI
3            [A]                                  1BPT
4            [E]                                  1BRB
..           ...                                   ...
202          [A]                                  6Q61
203      [A,  B]                                  6YHY
204          [A]                                  7PTI
205          [A]                                  8PTI
206          [A]                                  9PTI

[207 rows x 2 columns]

In [59]:
rcsb2 = rcsb2.explode('Auth Asym ID', ignore_index=False)   #This will collapse the iterable object into several rows

In [60]:
rcsb2

    Auth Asym ID Entry Id (Polymer Entity Identifiers)
0              A                                  1AAL
0              B                                  1AAL
1              A                                  1AAP
1              B                                  1AAP
2              A                                  1BPI
..           ...                                   ...
203            A                                  6YHY
203            B                                  6YHY
204            A                                  7PTI
205            A                                  8PTI
206            A                                  9PTI

[299 rows x 2 columns]

In [62]:
len(rcsb2['Entry Id (Polymer Entity Identifiers)'].unique())

109

### Part3 

Now, we need to append the pdb identifier to the Auth Asym ID into a new column (ex. 1AAL:A, 1AAL:B)

In [72]:
rcsb2['chain_identifiers'] = rcsb2['Entry Id (Polymer Entity Identifiers)']+':'+rcsb2[lst_col].str.strip()

In [73]:
rcsb2

    Auth Asym ID Entry Id (Polymer Entity Identifiers) chain_identifiers
0              A                                  1AAL            1AAL:A
0              B                                  1AAL            1AAL:B
1              A                                  1AAP            1AAP:A
1              B                                  1AAP            1AAP:B
2              A                                  1BPI            1BPI:A
..           ...                                   ...               ...
203            A                                  6YHY            6YHY:A
203            B                                  6YHY            6YHY:B
204            A                                  7PTI            7PTI:A
205            A                                  8PTI            8PTI:A
206            A                                  9PTI            9PTI:A

[299 rows x 3 columns]

In [74]:
def chain_printer(df):
  for index,row in df.iterrows():
    print(row['chain_identifiers'])

In [75]:
chain_printer(rcsb2)

1AAL:A
1AAL:B
1AAP:A
1AAP:B
1BPI:A
1BPT:A
1BRB:E
1BRB:I
1BTH:J
1BTH:L
1BTH:H
1BTH:K
1BTH:P
1BTH:Q
1BTI:A
1BZX:E
1BZX:I
1CA0:A
1CA0:F
1CA0:B
1CA0:G
1CA0:C
1CA0:H
1CA0:D
1CA0:I
1CO7:E
1CO7:I
1D0D:A
1D0D:B
1DTX:A
1EJM:A
1EJM:C
1EJM:E
1EJM:B
1EJM:D
1EJM:F
1F5R:A
1F5R:I
1F7Z:A
1F7Z:I
1FAK:L
1FAK:H
1FAK:T
1FAK:I
1FAN:A
1FY8:E
1FY8:I
1KNT:A
1KTH:A
1NAG:A
1P2I:A
1P2I:I
1P2J:A
1P2J:I
1P2K:A
1P2K:I
1P2M:A
1P2M:C
1P2M:B
1P2M:D
1P2N:A
1P2N:C
1P2N:B
1P2N:D
1P2O:A
1P2O:C
1P2O:B
1P2O:D
1P2Q:A
1P2Q:C
1P2Q:B
1P2Q:D
1T7C:A
1T7C:C
1T7C:B
1T7C:D
1T8L:A
1T8L:C
1T8L:B
1T8L:D
1T8M:A
1T8M:C
1T8M:B
1T8M:D
1T8N:A
1T8N:C
1T8N:B
1T8N:D
1T8O:B
1T8O:D
1T8O:A
1T8O:C
1TAW:A
1TAW:B
1TPA:E
1TPA:I
1YKT:A
1YKT:B
1ZR0:A
1ZR0:C
1ZR0:B
1ZR0:D
2FI3:E
2FI3:I
2FTL:E
2FTL:I
2HEX:A
2HEX:B
2HEX:C
2HEX:D
2HEX:E
2IJO:I
2IJO:A
2IJO:B
2KNT:A
2PTC:E
2PTC:I
2R9P:A
2R9P:B
2R9P:C
2R9P:D
2R9P:E
2R9P:F
2R9P:G
2R9P:I
2RA3:A
2RA3:B
2RA3:C
2RA3:I
2TGP:Z
2TGP:I
2TPI:Z
2TPI:I
3BTD:I
3BTD:E
3BTE:E
3BTE:I
3BTF:E
3BTF:I
3BTG:E
3BTG:I
3BTH:E
3BTH:I
3BTK:E
3BTK:I
3BTM:E
3BTM:I
3BTQ:I
3BTQ:E
3BTT:I
3BTT:E
3BTW:E
3BTW:I
3BYB:A
3BYB:B
3BYB:C
3D65:I
3D65:E
3FP6:E
3FP6:I
3FP7:E
3FP7:I
3FP7:J
3FP8:E
3FP8:I
3LDI:A
3LDI:B
3LDI:C
3LDI:D
3LDI:E
3LDJ:A
3LDJ:B
3LDJ:C
3M7Q:A
3M7Q:B
3OTJ:E
3OTJ:I
3T62:A
3T62:B
3T62:C
3T62:D
3T62:E
3T62:F
3TGI:E
3TGI:I
3TGJ:E
3TGJ:I
3TGK:E
3TGK:I
3TPI:Z
3TPI:I
3U1J:A
3U1J:B
3U1J:E
3UOU:A
3UOU:B
3WNY:A
3WNY:B
3WNY:C
3WNY:E
3WNY:F
3WNY:G
3WNY:H
3WNY:I
4BD9:A
4BD9:B
4BNR:A
4BNR:B
4BNR:I
4BNR:J
4DG4:A
4DG4:B
4DG4:D
4DG4:G
4DG4:C
4DG4:E
4DG4:F
4DG4:H
4DTG:L
4DTG:K
4DTG:H
4ISL:B
4ISL:A
4ISO:A
4ISO:B
4NTW:A
4NTW:B
4NTW:C
4NTX:A
4NTX:C
4NTX:B
4PTI:A
4TPI:Z
4TPI:I
4U30:A
4U30:B
4U30:C
4U30:D
4U30:W
4U30:X
4U30:Y
4U30:Z
4U32:X
4U32:A
4WWY:A
4WWY:B
4WWY:C
4WWY:I
4WXV:A
4WXV:B
4WXV:C
4WXV:I
4Y0Y:E
4Y0Y:I
4Y0Z:I
4Y0Z:E
4Y10:E
4Y10:I
4Y11:E
4Y11:I
5EZD:A
5EZD:B
5JBT:A
5JBT:X
5JBT:Y
5M4V:A
5NMV:L
5NMV:H
5NMV:K
5NX1:A
5NX1:B
5NX1:D
5NX1:C
5NX3:A
5NX3:B
5NX3:D
5NX3:C
5PTI:A
5ZJ3:A
5ZJ3:B
5ZJ3:C
6F1F:A
6F1F:B
6F1F:C
6F1F:D
6F1F:E
6GFI:A
6GFI:B
6GFI:C
6GFI:E
6HAR:E
6HAR:A
6PTI:A
6Q61:A
6YHY:A
6YHY:B
7PTI:A
8PTI:A
9PTI:A