#PFAM PARSING
Starting from the file

In [ ]:
import pandas as pd

Copy and paste the entire table to excel, then save the file

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving pfam_raw.xlsx to pfam_raw.xlsx

In [ ]:
! pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [ ]:
df = pd.read_excel('pfam_raw.xlsx')

In [ ]:
df

,UniProt entry,UniProt residues,PDB ID,PDB chain ID,PDB residues,View
0,A4_HUMAN,290 - 301,5NX1,B,2015-04-01 00:00:00,View 3D Structure View in InterPro
1,NaN,NaN,5NX3,B,2015-04-01 00:00:00,View 3D Structure View in InterPro
2,NaN,290 - 341,3L33,E,1955-04-01 00:00:00,View 3D Structure View in InterPro
3,NaN,NaN,NaN,F,1955-04-01 00:00:00,View 3D Structure View in InterPro
4,NaN,NaN,NaN,G,1955-04-01 00:00:00,View 3D Structure View in InterPro
...,...,...,...,...,...,...
316,NaN,NaN,NaN,B,1958-06-01 00:00:00,View 3D Structure View in InterPro
317,NaN,NaN,6YHY,A,1958-06-01 00:00:00,View 3D Structure View in InterPro
318,NaN,NaN,NaN,B,1958-06-01 00:00:00,View 3D Structure View in InterPro
319,WFKN1_HUMAN,358 - 410,2DDI,A,1961-09-01 00:00:00,View 3D Structure View in InterPro
320,NaN,NaN,2DDJ,A,1961-09-01 00:00:00,View 3D Structure View in InterPro

In [ ]:
df.isnull().sum()

UniProt entry       292
UniProt residues    271
PDB ID              119
PDB chain ID          0
PDB residues          0
View                  0
dtype: int64

Now, we must forward fill in order to fill the missing values in the first 3 columns.

In [ ]:
df = df.fillna(method='ffill', axis=0) # Fill NA/NaN values using the specified method  #ffill: propagate last valid observation forward to next valid

In [ ]:
df.isnull().sum()

UniProt entry       0
UniProt residues    0
PDB ID              0
PDB chain ID        0
PDB residues        0
View                0
dtype: int64

In [ ]:
df.head()

,UniProt entry,UniProt residues,PDB ID,PDB chain ID,PDB residues,View
0,A4_HUMAN,290 - 301,5NX1,B,2015-04-01 00:00:00,View 3D Structure View in InterPro
1,A4_HUMAN,290 - 301,5NX3,B,2015-04-01 00:00:00,View 3D Structure View in InterPro
2,A4_HUMAN,290 - 341,3L33,E,1955-04-01 00:00:00,View 3D Structure View in InterPro
3,A4_HUMAN,290 - 341,3L33,F,1955-04-01 00:00:00,View 3D Structure View in InterPro
4,A4_HUMAN,290 - 341,3L33,G,1955-04-01 00:00:00,View 3D Structure View in InterPro

In [ ]:
df.shape

(321, 6)

In [ ]:
df.iloc[:,2:4]

    PDB ID PDB chain ID
0     5NX1            B
1     5NX3            B
2     3L33            E
3     3L33            F
4     3L33            G
..     ...          ...
316   6Q6C            B
317   6YHY            A
318   6YHY            B
319   2DDI            A
320   2DDJ            A

[321 rows x 2 columns]

In [ ]:
df2 = df.iloc[:,2:4]

In [ ]:
df2

    PDB ID PDB chain ID
0     5NX1            B
1     5NX3            B
2     3L33            E
3     3L33            F
4     3L33            G
..     ...          ...
316   6Q6C            B
317   6YHY            A
318   6YHY            B
319   2DDI            A
320   2DDJ            A

[321 rows x 2 columns]

### Adding the concatenated column

In [ ]:
df2['id:chain'] = df2['PDB ID'].str.strip()+":"+df2['PDB chain ID'].str.strip()

In [ ]:
df2.head()

  PDB ID PDB chain ID id:chain
0   5NX1            B   5NX1:B
1   5NX3            B   5NX3:B
2   3L33            E   3L33:E
3   3L33            F   3L33:F
4   3L33            G   3L33:G

Now we print it

In [ ]:
def chain_printer(df):
  for index,row in df.iterrows():
    print(row['id:chain'])

In [ ]:
chain_printer(df2)

5NX1:B
5NX3:B
3L33:E
3L33:F
3L33:G
3L33:H
5NX3:C
1AAP:A
1AAP:B
1BRC:I
1CA0:D
1CA0:I
1TAW:B
1ZJD:B
5NX1:C
5C67:C
5C67:E
6GFI:C
6GFI:E
5NX1:D
5NX3:D
1BIK:A
1BIK:A
4U30:W
4U30:X
4U30:Y
4U30:Z
5JBT:X
5JBT:Y
2ODY:E
2ODY:F
2ODY:E
2ODY:F
3FP7:I
1FAK:I
3GYM:I
3GYM:J
4WXV:C
4WXV:I
5YVU:I
5YW1:I
1AAL:A
1AAL:B
1B0C:A
1B0C:B
1B0C:C
1B0C:D
1B0C:E
1BHC:A
1BHC:B
1BHC:C
1BHC:D
1BHC:E
1BHC:F
1BHC:G
1BHC:H
1BHC:I
1BHC:J
1BPI:A
1BPT:A
1BTH:P
1BTH:Q
1BTI:A
1BZ5:A
1BZ5:B
1BZ5:C
1BZ5:D
1BZ5:E
1BZX:I
1CBW:D
1CBW:I
1D0D:B
1EAW:B
1EAW:D
1EJM:B
1EJM:D
1EJM:F
1F5R:I
1F7Z:I
1FAN:A
1FY8:I
1G6X:A
1JV8:A
1JV9:A
1K6U:A
1LD5:A
1LD6:A
1MTN:D
1MTN:H
1NAG:A
nan
nan
1P2I:I
1P2J:I
1P2K:I
1P2M:B
1P2M:D
1P2N:B
1P2N:D
1P2O:B
1P2O:D
1P2Q:B
1P2Q:D
1PIT:A
1QLQ:A
1T7C:B
1T7C:D
1T8L:B
1T8L:D
1T8M:B
1T8M:D
1T8N:B
1T8N:D
1T8O:B
1T8O:D
1TPA:I
1UUA:A
1UUB:A
1YKT:B
1YLC:B
1YLD:B
2FI3:I
2FI4:I
2FI5:I
2FTL:I
2FTM:B
2HEX:A
2HEX:B
2HEX:C
2HEX:D
2HEX:E
2IJO:I
2KAI:I
2PTC:I
2R9P:E
2R9P:F
2R9P:G
2R9P:I
2RA3:C
2RA3:I
2TGP:I
2TPI:I
2ZJX:A
2ZJX:B
2ZVX:A
2ZVX:B
3BTD:I
3BTE:I
3BTF:I
3BTG:I
3BTH:I
3BTK:I
3BTM:I
3BTQ:I
3BTT:I
3BTW:I
3FP6:I
3FP8:I
3LDI:A
3LDI:B
3LDI:C
3LDI:D
3LDI:E
3LDJ:A
3LDJ:B
3LDJ:C
3LDM:A
3LDM:B
3LDM:C
3LDM:D
3LDM:E
3OTJ:I
3P92:E
3P95:E
3TGI:I
3TGJ:I
3TGK:I
3TPI:I
3U1J:E
3WNY:A
3WNY:B
3WNY:C
3WNY:E
3WNY:F
3WNY:G
3WNY:H
3WNY:I
4BNR:I
4BNR:J
4DG4:C
4DG4:E
4DG4:F
4DG4:H
4PTI:A
4TPI:I
4WWY:C
4WWY:I
4Y0Y:I
4Y0Z:I
4Y10:I
4Y11:I
5JB4:A
5JB4:B
5JB4:C
5JB5:A
5JB5:B
5JB5:C
5JB6:A
5JB6:B
5JB6:C
5JB7:A
5JB7:B
5JB7:C
5PTI:A
5XX2:A
5XX2:B
5XX3:A
5XX3:B
5XX4:A
5XX4:B
5XX5:A
5XX5:B
5XX6:A
5XX6:B
5XX7:A
5XX7:D
5XX8:A
5XX8:B
6F1F:A
6F1F:B
6F1F:C
6F1F:D
6F1F:E
6PTI:A
7PTI:A
8PTI:A
9PTI:A
1BRB:I
1CO7:I
1K09:A
1K09:B
3FP7:J
1KNT:A
1KTH:A
1KUN:A
2KNT:A
6HAR:E
5M4V:A
4BD9:B
4BD9:B
4BD9:B
6NAN:A
1YC0:I
4ISL:B
4ISN:B
4ISO:B
5EZD:A
5EZD:B
5H7V:A
5H7V:A
4U32:X
1ADZ:A
1TFX:C
1TFX:D
4DTG:K
1IRH:A
6BX8:B
6BX8:D
6BX8:F
6BX8:H
4BQD:A
4BQD:B
5NMV:K
1ZR0:B
1ZR0:D
3BYB:A
3BYB:B
3BYB:C
3D65:I
3UIR:C
3UIR:D
5ZJ3:A
5ZJ3:B
5ZJ3:C
1SHP:A
3M7Q:B
3OFW:A
3T62:D
3T62:E
3T62:F
3UOU:B
2JOT:A
2M01:A
1JC6:A
2M99:A
6A5I:A
4NTW:B
4NTX:B
4NTY:B
1DEM:A
1DEN:A
1BUN:B
1DTX:A
1BF0:A
5YV7:A
6KZF:A
1DTK:A
1Y62:A
1Y62:B
1Y62:C
1Y62:D
1Y62:E
1Y62:F
2CA7:A
6Q61:A
6Q6C:A
6Q6C:B
6YHY:A
6YHY:B
2DDI:A
2DDJ:A